@media (max-width: 800px) {
	
}

body {
	background: navy;
}


.bones {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.footer {
	position: fixed;
	bottom: 0;
	display: inline-grid;
	grid-template-columns: 50% 50%;
}

.footer ul {
	list-style-type: none;	
}

.footer li {
	display: inline;
	padding: 20px;
}

.footer #r-nav {
	text-align: right;
	grid-column-start: 2;
	justify-self: end;
}